# API Keys
.env

# YOLO Training outputs 
runs/
yolov8n.pt

# Python Virtual Environments
venv/
env/
.venv/

# Python Cache files
__pycache__/
*.pyc

# Mac system files
.DS_Store

# Ignore the massive dataset and output directories
dataset/
output_cards/
images/
raw_data/
final_flashcards/